.root {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 870px) {
    order: 3;
  }
  @media (max-width: 550px) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.input {
  border: 1px solid rgba(0, 0, 0 , 0.1);
  padding: 13px 50px;
  width: 100%;
  border-radius: 20px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  &:focus {
    border: 1px solid rgba(0, 0, 0 , 0.2);
  }
  @media (max-width: 1000px) {
    width: 300px;
  }
  @media (max-width: 550px) {
    width: 100%;

  }

}

.icon {
  height: 22px;
  width: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 14px;
}

.clear {
  width: 18px;
  height: 18px;
  opacity: .3;
  position: absolute;
  top: 15px;
  right: 15px;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.add__user {
  width: 50px;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  padding-top: 2px;
  color: brown;
  transition: color 0.2s ease-in;
  cursor: pointer;
  &:hover {
    background-color: #E2E2E2;
  }
}