.categories {
  ul {
    display: flex;
    column-gap: 20px;
    margin: 0 300px;
    @media (max-width: 1250px) {
      margin: 0 100px;
    }
    @media (max-width: 860px) {
      margin: 0;
    }
    @media (max-width: 650px) {
      flex-wrap: wrap;
    }
    li {
      cursor: pointer;
        margin: 20px auto 0 auto;
        padding: 5px 15px;
        border-radius: 10px;
        transition: all 0.2s ease-in;
      @media (max-width: 650px) {
        margin: 10px auto 0 auto
      }
        &:hover {
          transform: scale(1.15);
        }

    }
  }
  margin: 0 auto;
}

.active  {
  color: #FFFFFF;
  transform: scale(1.15);
}