.categories {
  ul {
    display: flex;
    column-gap: 20px;
    margin: 0 300px;
    li {
      cursor: pointer;
        margin: 20px auto 0 auto;
        padding: 5px 15px;
        border-radius: 10px;
        transition: all 0.2s ease-in;
        &:hover {
          transform: scale(1.15);
        }

    }
  }
  margin: 0 auto;
}

.active  {
  color: #FFFFFF;
}